body, html{
    background-image: url('https://png.pngtree.com/background/20230417/original/pngtree-game-space-blue-planet-picture-image_2444872.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}